spring:
    profiles:
        active: dev

---
server:
    port: 8001
    
mybatis:
    config-location: classpath:mybatis/mybatis.cfg.xml
    type-aliases-package: com.ming.springcloud.entities
    mapper-locations: classpath:mybatis/mapper/**/*.xml

spring:
  profiles: dev
  application:
    name: microservice-product-config  #服务调用之间的名称,其实也是将该微服务注册到eureka上的名字
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/springcloud_db01?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: root
    dbcp2:
      min-idle: 5
      initial-size: 5
      max-total: 10
      max-wait-millis: 150
 
 eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka6001.com:6001/eureka/,http://eureka6002.com:6002/eureka
  instance:
    instance-id: ${spring.application.name}:${server.port}
    prefer-ip-address: true

---
server:
    port: 8001
    
mybatis:
    config-location: classpath:mybatis/mybatis.cfg.xml
    type-aliases-package: com.ming.springcloud.entities
    mapper-locations: classpath:mybatis/mapper/**/*.xml

spring:
  profiles: prod
  application:
    name: microservice-product-config  #服务调用之间的名称,其实也是将该微服务注册到eureka上的名字
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/springcloud_db02?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: root
    dbcp2:
      min-idle: 5
      initial-size: 5
      max-total: 10
      max-wait-millis: 150
 
 eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka6001.com:6001/eureka/,http://eureka6002.com:6002/eureka
  instance:
    instance-id: ${spring.application.name}:${server.port}
    prefer-ip-address: true